{% capture page_title %}{% if page.title %}{{ page.title }} | {% endif %}{{ site.data.main_info.name }}{% endcapture %}
{% assign page_description = page.description | default: site.description %}
{% assign share_image = page.image | default: site.data.main_info.profile_pic %}
{% assign share_image_alt = page.image_alt | default: site.data.main_info.name %}
<title>{{ page_title | strip | escape }}</title>
<meta name="description" content="{{ page_description | escape }}">
<meta name="author" content="{{ site.data.main_info.name | escape }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="{{ site.data.main_info.name | escape }}">
<meta property="og:title" content="{{ page_title | strip | escape }}">
<meta property="og:description" content="{{ page_description | escape }}">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:image" content="{{ share_image | absolute_url }}">
<meta property="og:image:alt" content="{{ share_image_alt | escape }}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page_title | strip | escape }}">
<meta name="twitter:description" content="{{ page_description | escape }}">
<meta name="twitter:image" content="{{ share_image | absolute_url }}">
<meta name="twitter:image:alt" content="{{ share_image_alt | escape }}">
