<a class="x-link" href="{{ site.data.main_info.twitter }}" target="_blank" rel="noopener noreferrer" aria-label="Junhyuck Kim on X" title="X">
  <svg class="x-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor" aria-hidden="true" focusable="false">
    <path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.64 7.584H.47l8.6-9.835L0 1.154h7.594l5.243 6.932 6.064-6.933zm-1.29 19.49h2.039L6.487 3.24H4.3l13.31 17.403z"/>
  </svg>
</a>
